.divNav {
    box-shadow: 0 10px 16px rgba(68, 68, 68, 1),
    inset 0px -10px 16px 1px rgba(0, 0, 0, 5);
}

.logo {
    position: absolute;
    margin: 0%;
    top: 10%;
    left: 5%;
    height: 60px;
    width: auto;
    cursor: pointer;
}

.navbar {
    background-color: #232323;
    height: 75px;
    display: flex;
    position: sticky;
    align-items: center;
}

.rightNav {
    width: 70%;
    position: relative;
    left: 27%;
    text-align: right;
    margin-right: 10px;
}

.rightNav a {
    text-decoration: none;
    color: white;
}

.rightNav a:hover {
    color: #bfc7d3;
}

.link{
    margin-left: 2%;
}