.divNav {
    position: absolute;
    top: 0%;
    width: 100%;
    box-shadow: 0 10px 16px rgba(68, 68, 68, 1),
    inset 0px -10px 16px 1px rgba(0, 0, 0, 5);
}

.logo {
    position: absolute;
    margin: 0%;
    top: 10%;
    left: 5%;
    height: 60px;
    width: auto;
    cursor: pointer;
}

.navbar {
    background-color: #232323;
    height: 75px;
    display: flex;
    position: sticky;
    align-items: center;
}

.rightNav {
    width: 70%;
    position: relative;
    left: 20%;
    text-align: right;
    margin-right: 10px;
}

.rightNav a {
    text-decoration: none;
    color: white;
}

.rightNav a:hover {
    color: #bfc7d3;
}

.link {
    margin-left: 2%;
}

#menuToggle {
    display: block;
    position: absolute;
    left: 95%;
    top: 35%;

    z-index: 1;

    -webkit-user-select: none;
    user-select: none;
}

#menuToggle a {
    text-decoration: none;
    color: #000100;

    transition: color 0.3s ease;
}

#menuToggle a:hover {
    color: tomato;
}


#menuToggle input {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;

    cursor: pointer;

    opacity: 0; /* hide this */
    z-index: 2; /* and place it over the hamburger */

    -webkit-touch-callout: none;
}

#menuToggle span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;

    background: #cdcdcd;
    border-radius: 3px;

    z-index: 1;

    transform-origin: 4px 0px;

    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
    background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
    opacity 0.55s ease;
}

#menuToggle span:first-child {
    transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
    transform-origin: 0% 100%;
}

#menuToggle input:checked ~ span {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: #232323;
}


#menuToggle input:checked ~ span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
}


#menuToggle input:checked ~ span:nth-last-child(2) {
    transform: rotate(-45deg) translate(0, -1px);
}

#menu {
    position: fixed;
    width: 300px;
    height: 100%;
    margin: -100px 0 0 -150px;
    padding: 120px 50px 100% 50px;

    background: #ededed;
    border-bottom-left-radius: 10px;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;

    transform-origin: 0% 0%;
    transform: translate(100%, 0);


    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li {
    padding: 10px 0;
    font-size: 22px;
}

#menuToggle input:checked ~ ul {
    transform: none;
}